COINGECKO_API_KEY=
COINMARKETCAP_API_KEY=
COINAPI_API_KEY=
COINGECKO_BASE_URL=https://api.coingecko.com/api/v3
BINANCE_BASE_URL=https://api.binance.com
COINAPI_BASE_URL=https://rest.coinapi.io
TELEGRAM_BOT_TOKEN=
TELEGRAM_DEFAULT_UNIVERSE_SIZE=10
